.contact-section {
  height: 550px;
  background-color: #242424;
  padding-top: 70px;
  .contact-block {
    height: 470px;
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1.4fr 2fr;
    grid-gap: 60px;
    .information {
      color: white;
      h2 {
        margin: 8px 0 16px 0;
        font-size: 34px;
        font-family: 'patua one';
        letter-spacing: 1px;
        font-weight: bolder;
        text-transform: capitalize;
        color: white;
      }
      .info1 {
        height: 110px;
        display: grid;
        grid-template-columns: 1.2fr 3fr;
        border-bottom: 1px solid #afabab38;
        .left {
          i {
            margin: 22px 0 0 18px;
            font-size: 46px;
            color: #4d4d4d;
            text-align: center;
          }
        }
        .right {
          padding-top: 25px;
          p {
            margin: 4px 0;
            font-size: 15px;
            font-family: 'lato';
            transition-delay: 0.1s;
            transition-duration: 0.5s;
          }
          p:hover {
            color: #ff8d00;
            cursor: pointer;
          }
        }
      }
      .info2 {
        height: 120px;
        display: grid;
        grid-template-columns: 1.2fr 3fr;
        border-bottom: 1px solid #afabab38;
        .left {
          height: 100px;
          i {
            margin: 34px 0 0 16px;
            font-size: 40px;
            color: #4d4d4d;
          }
        }
        .right {
          height: 80px;
          padding-top: 32px;
          p {
            margin: 4px 0;
            font-size: 16px;
            font-family: 'roboto';
            span {
              margin-right: 10px;
              color: #ff8d00;
            }
          }
        }
      }
      .info3 {
        height: 110px;
        display: grid;
        grid-template-columns: 1.2fr 3fr;
        .left {
          i {
            margin: 38px 0 0 18px;
            font-size: 50px;
            text-align: center;
            color: #4d4d4d;
          }
        }
        .right {
          height: 65px;
          padding-top: 35px;
          p {
            margin: 4px 0;
            font-size: 16px;
            font-family: 'poppins';
            transition-delay: 0.1s;
            transition-duration: 0.5s;
          }
          p:hover {
            color: #ff8d00;
            cursor: pointer;
          }
          h6 {
            margin: 4px 0;
            font-size: 12px;
            font-family: 'poppins';
            transition-delay: 0.1s;
            transition-duration: 0.5s;
          }
          h6:hover {
            color: #ff8d00;
            cursor: pointer;
          }
        }
      }
    }
    .blog {
      h2 {
        margin: 8px 0 16px 0;
        font-size: 34px;
        font-family: 'patua one';
        letter-spacing: 1px;
        font-weight: bolder;
        text-transform: capitalize;
        color: white;
      }
      .text {
        height: 120px;
        margin: 10px 0;
        display: grid;
        grid-template-columns: 1.2fr 3fr;
        .left {
          height: 120px;
          img {
            margin: 10px 10px 5px 0;
            height: 94px;
            width: 90px;
            border-radius: 7px;
          }
        }
        .right {
          color: white;
          height: 120px;
          margin-left: 14px;
          p {
            margin: 16px 0 0 0;
            font-size: 16px;
            font-family: 'poppins';
            line-height: 1.4;
            transition-delay: 0.1s;
            transition-duration: 0.5s;
          }
          p:hover {
            color: #ff8d00;
            cursor: pointer;
          }
          h6 {
            margin: 14px 0 0 0;
            font-size: 13px;
            font-family: 'lato';
            color: #ff8d00;
            i {
              margin-right: 10px;
              font-size: 16px;
              color: white;
            }
          }
        }
      }
    }
    .chat {
      height: 450px;
      background: blueviolet;
      h2 {
        margin: 8px 0 16px 0;
        font-size: 36px;
        font-family: 'patua one';
        letter-spacing: 1px;
        font-weight: bolder;
        text-transform: capitalize;
        color: white;
      }
      .custom-select {
        color: white;
        select {
          margin: 10px 0;
          background: #737373;
          height: 60px;
          width: 100%;
          padding-left: 60px;
          outline: none;
          font-size: 16px;
          border: none;
          color: white;
        }
        select:hover {
          cursor: text;
        }
        div {
          height: 30px;
          margin: -53px 0 0 24px;
          i {
            font-size: 22px;
          }
        }
      }

      .date {
        margin: 30px 0;
        color: white;
        input {
          background: #737373;
          height: 55px;
          width: 455px;
          padding-left: 50px;
          outline: none;
          border: none;
          color: white;
        }
        input::placeholder {
          color: white;
          font-size: 16px;
          padding: 0 0 0 10px;
        }
        div {
          height: 30px;
          margin: -43px 0 0 20px;
          i {
            font-size: 24px;
          }
        }
      }
      .message {
        margin: 20px 0;
        color: white;
        textarea {
          background: #737373;
          height: 150px;
          width: 433px;
          padding: 10px 0 0 70px;
          outline: none;
          border: none;
        }
        textarea::placeholder {
          margin: 0;
          color: white;
          font-size: 16px;
        }
        div {
          margin: -155px 0 0 20px;
          i {
            font-size: 24px;
          }
        }
      }
    }
  }
}
